@import 'utilities/variables',
        'utilities/mixins', 'utilities/functions';

@import 'content/navigation.scss',
        'content/header.scss',
        'content/footer.scss';

//Body

body {
  background-color: #F6F8F9;
}

//Crumbs

.aboutcrumb {
  background-color: white;
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 50px;
  text-decoration: none;
  list-style-type: none;
  background-color: #F6F8F9;
  margin-bottom: 0;
}

.aboutcrumb a {
  text-decoration: none;
}

.banner-wrap {
  margin-top: 0;
  padding-top: 0;
}

//About Us

.application {
  margin-top: 50px;
  text-align: center;
  @include flexy ($wrap: no-wrap, $just: center, $align: center, $dir: column);
  @media(min-width: $break-lg){
  @include flexy ($wrap: no-wrap, $just: left, $align: left, $dir: column);
  margin-top: 80px;
  margin-left: 25px;
  text-align: left;
  }
}

.application h1 {
  font-size: 32px;
  @media(min-width: $break-lg){
  font-size: 48px;
  }
}

.application h3 {
  font-size: 18px;
  margin-top: 15px;
  @media(min-width: $break-lg){
  font-size: 36px;
  }
}

//About Text

.about-text {
  margin-top: 30px;
  text-align: center;
  @include flexy ($wrap: no-wrap, $just: center, $align: center, $dir: column);
  @media(min-width: $break-lg){
    text-align: left;
    @include flexy ($wrap: no-wrap, $just: left, $align: left, $dir: column);
    margin-top: 60px;
    margin-left: 25px;
  }
}

.about-text h2 {
  font-size: 24px;
  color: #4A4A4A;
  @media(min-width: $break-lg){
  font-size: 48px;
  }
}

.about-text p {
  color: #4A4A4A;
  margin-top: 10px;
  max-width: 548px;
}

//Interview

#interview {
  margin-bottom: 50px;
}

//Resources

.resources-wrap {
  @include flexy ($wrap: no-wrap, $just: center, $align: center, $dir: column);
    @media(min-width: $break-lg){
      position: absolute;
      left: 65%;
      top: 575px;
    }
}

.resources {
  margin-top: 30px;
  width: 315px;
  height: 233px;
  border: 1px solid grey;
  @include flexy ($wrap: no-wrap, $just: center, $align: center, $dir: column);
  @media(min-width: $break-lg){
  @include flexy ($wrap: no-wrap, $just: center, $align: left, $dir: column);
  padding-left: 40px;
  }
}

.resources p {
  font-size: 24px;
}

//Join

#join {
    margin-bottom: 50px;
  @media(min-width: $break-lg){
    margin-bottom: 300px;
  }
}

//Opportunities

        .opp-wrap {
          padding-top: 40px;
          padding-bottom: 40px;
          background: #E5EBEE;
          text-align: center;
          @include flexy ($wrap: no-wrap, $just: center, $align: center, $dir: column);
        }

        .opp-text {
          @media(min-width: $break-lg){
            text-align: left;
            margin-left: 5%;
            max-width: 475px;
          }
        }

        .opp-text h2 {
          color: #0F3753;
          @media(min-width: $break-m){
            margin-top: 20px;
            @include flexy ($wrap: no-wrap, $just: center, $align: center, $dir: column);
          }
        }

        .opp {
          @media(min-width: $break-lg){
          @include flexy ($wrap: no-wrap, $just: center, $align: center, $dir: row);
          }
        }

        .opp-text p {
          margin-top: 20px;
          color: #0F3753;
        }

        .img-block {
          display:none;
          @media(min-width: $break-m){
            display:block;
          }
        }
